<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aihwaong.minicm.mapper.BuildingAreaMapper">
    <resultMap id="BaseResultMap" type="com.aihwaong.minicm.model.BuildingArea">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="area_name" jdbcType="CHAR" property="areaName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="is_delete" jdbcType="CHAR" property="isDelete"/>
    </resultMap>

    <resultMap id="ChildrenResultMap" type="com.aihwaong.minicm.model.BuildingArea" extends="BaseResultMap">
        <collection property="children" ofType="com.aihwaong.minicm.model.BuildingArea" >
            <id column="c_id" jdbcType="INTEGER" property="id"/>
            <result column="c_pid" jdbcType="INTEGER" property="pid"/>
            <result column="c_area_name" jdbcType="CHAR" property="areaName"/>
        </collection>
    </resultMap>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, pid, area_name, create_time, update_time, status, is_delete
    </sql>

    <select id="getBuildingAreaTree" resultMap="ChildrenResultMap">
        SELECT
            b1.id,
            b1.pid,
            b1.area_name,
            b2.id AS c_id,
            b2.pid AS c_pid,
            b2.area_name AS c_area_name
        FROM
            cm_building_area b1,
            cm_building_area b2
        WHERE
            b1.id = b2.pid
        AND b1.is_delete = '0'
        AND b2.is_delete = '0'
        AND b1.`status` = 1
        AND b2.`status` = 1
    </select>

    <delete id="deletebuildingAreas" parameterType="java.lang.Integer">
        DELETE
        FROM
        cm_building_area
        WHERE
        id IN
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="getBuildingAreaUnit" resultMap="BaseResultMap">
        SELECT
        *
        FROM
            cm_building_area
        WHERE
            is_delete = '0'
        AND pid = #{pid}
        ORDER BY id ASC
    </select>

    <select id="selectAllDataOfPage" resultMap="BaseResultMap">
        SELECT * FROM cm_building_area WHERE is_delete = '0' AND pid = 0
        <if test="keyWord != null and keyWord != ''">
            AND area_name LIKE "%" '${keyWord}' "%"
        </if>
        ORDER BY id ASC
        LIMIT #{page}, #{size}
    </select>


    <select id="selectTotal" resultType="java.lang.Long">
        SELECT count(*) FROM cm_building_area WHERE is_delete = '0' AND pid = 0
        <if test="keyWord != null and keyWord != ''">
            AND area_name LIKE "%" '${keyWord}' "%"
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 17:11:04 CST 2020.
        -->
        select
        <include refid="Base_Column_List"/>
        from cm_building_area
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 17:11:04 CST 2020.
        -->
        delete from cm_building_area
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.aihwaong.minicm.model.BuildingArea">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 17:11:04 CST 2020.
        -->
        insert into cm_building_area (id, pid, area_name,
        create_time, update_time, status,
        is_delete)
        values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{areaName,jdbcType=CHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT},
        #{isDelete,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.aihwaong.minicm.model.BuildingArea">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 17:11:04 CST 2020.
        -->
        insert into cm_building_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="areaName != null">
                area_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="areaName != null">
                #{areaName,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByExampleSelective" parameterType="map">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 17:11:04 CST 2020.
        -->
        update cm_building_area
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.pid != null">
                pid = #{record.pid,jdbcType=INTEGER},
            </if>
            <if test="record.areaName != null">
                area_name = #{record.areaName,jdbcType=CHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=TINYINT},
            </if>
            <if test="record.isDelete != null">
                is_delete = #{record.isDelete,jdbcType=CHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 17:11:04 CST 2020.
        -->
        update cm_building_area
        set id = #{record.id,jdbcType=INTEGER},
        pid = #{record.pid,jdbcType=INTEGER},
        area_name = #{record.areaName,jdbcType=CHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        status = #{record.status,jdbcType=TINYINT},
        is_delete = #{record.isDelete,jdbcType=CHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.aihwaong.minicm.model.BuildingArea">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 17:11:04 CST 2020.
        -->
        update cm_building_area
        <set>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="areaName != null">
                area_name = #{areaName,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.aihwaong.minicm.model.BuildingArea">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 17:11:04 CST 2020.
        -->
        update cm_building_area
        set pid = #{pid,jdbcType=INTEGER},
        area_name = #{areaName,jdbcType=CHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        status = #{status,jdbcType=TINYINT},
        is_delete = #{isDelete,jdbcType=CHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>