<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aihwaong.minicm.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.aihwaong.minicm.model.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="iconCls" jdbcType="VARCHAR" property="iconcls"/>
        <result column="keepAlive" jdbcType="BIT" property="keepalive"/>
        <result column="requireAuth" jdbcType="BIT" property="requireauth"/>
        <result column="parentId" jdbcType="INTEGER" property="parentid"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_delete" jdbcType="CHAR" property="isDelete"/>
    </resultMap>
    <resultMap id="MenuMap" type="com.aihwaong.minicm.model.Menu" extends="BaseResultMap">
        <collection property="children" ofType="com.aihwaong.minicm.model.Menu">
            <id column="id_c" jdbcType="INTEGER" property="id"/>
            <result column="url_c" jdbcType="VARCHAR" property="url"/>
            <result column="path_c" jdbcType="VARCHAR" property="path"/>
            <result column="component_c" jdbcType="VARCHAR" property="component"/>
            <result column="name_c" jdbcType="VARCHAR" property="name"/>
            <result column="keepAlive_c" jdbcType="BIT" property="keepalive"/>
            <result column="requireAuth_c" jdbcType="BIT" property="requireauth"/>
            <result column="parentId_c" jdbcType="INTEGER" property="parentid"/>
            <result column="enabled_c" jdbcType="BIT" property="enabled"/>
        </collection>
    </resultMap>
    <resultMap id="MenuOfRole" type="com.aihwaong.minicm.model.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="com.aihwaong.minicm.model.Role">
            <id column="rId" jdbcType="INTEGER" property="id"/>
            <result column="rTitle" jdbcType="VARCHAR" property="title"/>
            <result column="role_identify" jdbcType="VARCHAR" property="roleIdentify"/>
            <result column="rStatus" jdbcType="TINYINT" property="status"/>
        </collection>
    </resultMap>
    <sql id="Update_By_Example_Where_Clause">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 17:11:04 CST 2020.
        -->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, url, path, component, name, iconCls, keepAlive, requireAuth, parentId, enabled, 
    status, create_time, update_time, is_delete
  </sql>

    <select id="selectAllMenu" resultMap="BaseResultMap">
        SELECT * FROM cm_menu m
    </select>

    <select id="getMenuOfRole" resultMap="MenuOfRole">
        SELECT
            m.*,
            r.id as rId,
            r.title as rTitle,
            r.status as rStatus,
            r.role_identify
        FROM
            cm_menu m,
            cm_menu_role mr,
            cm_role r
        WHERE
            m.id = mr.mid
        AND mr.rid = r.id
        ORDER BY
            m.id
    </select>

    <select id="getMenuByPerssonelId" parameterType="java.lang.Integer" resultMap="MenuMap">
        SELECT DISTINCT
            m2.*, m1.id AS id_p,
            m1.component AS component_c,
            m1.enabled AS enabled_c,
            m1.keepAlive AS keepAlive_c,
            m1.parentId AS parentId_c,
            m1. NAME AS name_c,
            m1.parentId AS parentId_c,
            m1.requireAuth AS requireAuth_c,
            m1.path AS path_c
        FROM
            cm_perssonel_role pr,
            cm_menu_role mr,
            cm_menu m1,
            cm_menu m2
        WHERE
            pr.rid = mr.rid
        AND mr.mid = m1.id
        AND m2.id = m1.parentId
        AND pr.pid = #{perssonelId}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cm_menu
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cm_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.aihwaong.minicm.model.Menu">
    insert into cm_menu (id, url, path,
      component, name, iconCls, 
      keepAlive, requireAuth, parentId, 
      enabled, status, create_time, 
      update_time, is_delete)
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{component,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{iconcls,jdbcType=VARCHAR}, 
      #{keepalive,jdbcType=BIT}, #{requireauth,jdbcType=BIT}, #{parentid,jdbcType=INTEGER}, 
      #{enabled,jdbcType=BIT}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=CHAR})
  </insert>

    <insert id="insertSelective" parameterType="com.aihwaong.minicm.model.Menu">
        insert into cm_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="component != null">
                component,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="iconcls != null">
                iconCls,
            </if>
            <if test="keepalive != null">
                keepAlive,
            </if>
            <if test="requireauth != null">
                requireAuth,
            </if>
            <if test="parentid != null">
                parentId,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="component != null">
                #{component,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="iconcls != null">
                #{iconcls,jdbcType=VARCHAR},
            </if>
            <if test="keepalive != null">
                #{keepalive,jdbcType=BIT},
            </if>
            <if test="requireauth != null">
                #{requireauth,jdbcType=BIT},
            </if>
            <if test="parentid != null">
                #{parentid,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByExampleSelective" parameterType="map">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 17:11:04 CST 2020.
        -->
        update cm_menu
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.url != null">
                url = #{record.url,jdbcType=VARCHAR},
            </if>
            <if test="record.path != null">
                path = #{record.path,jdbcType=VARCHAR},
            </if>
            <if test="record.component != null">
                component = #{record.component,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.iconcls != null">
                iconCls = #{record.iconcls,jdbcType=VARCHAR},
            </if>
            <if test="record.keepalive != null">
                keepAlive = #{record.keepalive,jdbcType=BIT},
            </if>
            <if test="record.requireauth != null">
                requireAuth = #{record.requireauth,jdbcType=BIT},
            </if>
            <if test="record.parentid != null">
                parentId = #{record.parentid,jdbcType=INTEGER},
            </if>
            <if test="record.enabled != null">
                enabled = #{record.enabled,jdbcType=BIT},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=TINYINT},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isDelete != null">
                is_delete = #{record.isDelete,jdbcType=CHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 17:11:04 CST 2020.
        -->
        update cm_menu
        set id = #{record.id,jdbcType=INTEGER},
        url = #{record.url,jdbcType=VARCHAR},
        path = #{record.path,jdbcType=VARCHAR},
        component = #{record.component,jdbcType=VARCHAR},
        name = #{record.name,jdbcType=VARCHAR},
        iconCls = #{record.iconcls,jdbcType=VARCHAR},
        keepAlive = #{record.keepalive,jdbcType=BIT},
        requireAuth = #{record.requireauth,jdbcType=BIT},
        parentId = #{record.parentid,jdbcType=INTEGER},
        enabled = #{record.enabled,jdbcType=BIT},
        status = #{record.status,jdbcType=TINYINT},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        is_delete = #{record.isDelete,jdbcType=CHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.aihwaong.minicm.model.Menu">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 17:11:04 CST 2020.
        -->
        update cm_menu
        <set>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="component != null">
                component = #{component,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="iconcls != null">
                iconCls = #{iconcls,jdbcType=VARCHAR},
            </if>
            <if test="keepalive != null">
                keepAlive = #{keepalive,jdbcType=BIT},
            </if>
            <if test="requireauth != null">
                requireAuth = #{requireauth,jdbcType=BIT},
            </if>
            <if test="parentid != null">
                parentId = #{parentid,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.aihwaong.minicm.model.Menu">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 17:11:04 CST 2020.
        -->
        update cm_menu
        set url = #{url,jdbcType=VARCHAR},
        path = #{path,jdbcType=VARCHAR},
        component = #{component,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        iconCls = #{iconcls,jdbcType=VARCHAR},
        keepAlive = #{keepalive,jdbcType=BIT},
        requireAuth = #{requireauth,jdbcType=BIT},
        parentId = #{parentid,jdbcType=INTEGER},
        enabled = #{enabled,jdbcType=BIT},
        status = #{status,jdbcType=TINYINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        is_delete = #{isDelete,jdbcType=CHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>